/** @define Tweet */

:root {
  var-background-color-Tweet: #f4f4f4;
  var-img-size-Tweet: 80px;
}

/* ==========================================================================
   Tweet
   ========================================================================== */

.Tweet {
  background: var(background-color-Tweet);
  padding: 10px;
  border: 1px solid #ddd;
}

.Tweet-img {
  height: var(img-size-Tweet);
  width: var(img-size-Tweet);
}