/** @define Post */

:root {
  var-color-Post: green;
}

/* ==========================================================================
   Post
   ========================================================================== */

.Post {
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  color: var(color-Post);
  padding: 10px;
  border: 1px solid #ccc;
}

.Post-header {
  font-size: 18px;
}

@media (min-width: 32em) {
  .Post {
    padding: 35px;
  }

  .Post-header {
    float: left;
  }
}