/** @define Button */

:root {
  --color-Button: red;
}

.Button {
  color: var(--color-Button);
  background: linear-gradient(to bottom, #5C1BD0 0%, #7836FA 100%);
}

.Button--default {
  color: var(--global-color);
}